.CodeMirror-gutter-wrapper,
.CodeMirror-gutters,
.result-button-list,
.resources-link,
.scaling-choices {
  display: none !important;
}

#the-body {
  background-color: #292a2b;
}

.embed-nav {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: #292a2b;
  height: auto;
  padding-left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.embed-footer {
  position: absolute;
  top: 11px;
  width: 100%;
}

.code-types {
  transform: translateY(1px);
  margin-top: 0px !important;
}

.code-type a {
  background-color: transparent;
  font-size: 14px !important;
  padding: 10px 20px !important;
  border-bottom: 1.5px solid #292a2b;
}

.code-type a:hover {
  opacity: 1 !important;
}

.code-type a.active {
  border-color: #0ae448;
  box-shadow: none !important;
  color: #fff !important;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

#edit-on-text {
  font-size: 9px !important;
  letter-spacing: 2px;
  width: auto !important;
}

.embed-footer {
  padding: 0 !important;
  height: 23px;
}

#output {
  overflow: hidden;
}

.embed-footer {
  background: hsl(0deg 0% 98% / 0%) !important;
}

.embed-nav .logo-wrap {
  position: relative;
  margin-left: auto;
  width: 100px;
  height: 50px;
  margin-right: 21px;
  display: flex;
  align-items: center;
}

.edit-on-codepen {
position: relative;
  width: 50px;
  height: 20px;
}

.edit-on-codepen * {
  display: none;
  position: relative;
}

.edit-on-codepen:after {
  content: "Fork";
  position: absolute;
  text-align: right;
  left: 0;
  color: white;
  font-family: var(--cp-font-family);
  font-size: 12px;
}

.edit-on-codepen:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  top: 0;
  right: 3px;
  color: white;
  opacity: 0.9;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5001 2H15.5001C15.3675 2 15.2403 2.05268 15.1465 2.14645C15.0528 2.24021 15.0001 2.36739 15.0001 2.5V3.5C15.0001 3.63261 15.0528 3.75979 15.1465 3.85355C15.2403 3.94732 15.3675 4 15.5001 4H18.5901L7.6501 14.94C7.60323 14.9865 7.56604 15.0418 7.54065 15.1027C7.51527 15.1636 7.5022 15.229 7.5022 15.295C7.5022 15.361 7.51527 15.4264 7.54065 15.4873C7.56604 15.5482 7.60323 15.6035 7.6501 15.65L8.3501 16.35C8.39658 16.3969 8.45188 16.4341 8.51281 16.4594C8.57374 16.4848 8.63909 16.4979 8.7051 16.4979C8.7711 16.4979 8.83646 16.4848 8.89738 16.4594C8.95831 16.4341 9.01362 16.3969 9.0601 16.35L20.0001 5.41V8.5C20.0001 8.63261 20.0528 8.75979 20.1465 8.85355C20.2403 8.94732 20.3675 9 20.5001 9H21.5001C21.6327 9 21.7599 8.94732 21.8537 8.85355C21.9474 8.75979 22.0001 8.63261 22.0001 8.5V3.5C22.0001 3.10218 21.8421 2.72064 21.5608 2.43934C21.2795 2.15804 20.8979 2 20.5001 2V2Z' fill='white'%3E%3C/path%3E%3Cpath d='M21.5 13H20.5C20.3674 13 20.2402 13.0527 20.1464 13.1464C20.0527 13.2402 20 13.3674 20 13.5V20H4V4H10.5C10.6326 4 10.7598 3.94732 10.8536 3.85355C10.9473 3.75979 11 3.63261 11 3.5V2.5C11 2.36739 10.9473 2.24021 10.8536 2.14645C10.7598 2.05268 10.6326 2 10.5 2H3.5C3.10218 2 2.72064 2.15804 2.43934 2.43934C2.15804 2.72064 2 3.10218 2 3.5V20.5C2 20.8978 2.15804 21.2794 2.43934 21.5607C2.72064 21.842 3.10218 22 3.5 22H20.5C20.8978 22 21.2794 21.842 21.5607 21.5607C21.842 21.2794 22 20.8978 22 20.5V13.5C22 13.3674 21.9473 13.2402 21.8536 13.1464C21.7598 13.0527 21.6326 13 21.5 13Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
}

#rerun-button {
  font-size: 12px;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
  top: 5px;
}

#rerun-button:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  top: 4px;
  left: 96%;
  color: white;
  opacity: 0.9;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8982 5.20844C12.4626 4.88688 10.9686 4.93769 9.55821 5.35604L11.8524 3.06184C11.8989 3.0154 11.9357 2.96028 11.9608 2.89961C11.986 2.83894 11.9989 2.77391 11.9989 2.70824C11.9989 2.64256 11.986 2.57754 11.9608 2.51686C11.9357 2.45619 11.8989 2.40107 11.8524 2.35464L11.1456 1.64784C11.0992 1.60139 11.0441 1.56455 10.9834 1.53942C10.9227 1.51428 10.8577 1.50134 10.792 1.50134C10.7263 1.50134 10.6613 1.51428 10.6006 1.53942C10.54 1.56455 10.4848 1.60139 10.4384 1.64784L6.14571 5.94054C6.00654 6.07969 5.89615 6.2449 5.82083 6.42673C5.74551 6.60855 5.70675 6.80343 5.70675 7.00024C5.70675 7.19704 5.74551 7.39192 5.82083 7.57374C5.89615 7.75557 6.00654 7.92078 6.14571 8.05994L10.4387 12.3529C10.5325 12.4465 10.6595 12.4991 10.792 12.4991C10.9245 12.4991 11.0516 12.4465 11.1453 12.3529L11.8527 11.6455C11.9463 11.5518 11.9989 11.4247 11.9989 11.2922C11.9989 11.1598 11.9463 11.0327 11.8527 10.9389L8.77481 7.86104C9.99795 7.16236 11.415 6.8801 12.8125 7.05678C14.21 7.23347 15.5122 7.85953 16.523 8.84064C17.5338 9.82176 18.1983 11.1048 18.4165 12.4964C18.6347 13.888 18.3947 15.3129 17.7328 16.5562C17.0708 17.7996 16.0227 18.7942 14.7463 19.3902C13.47 19.9861 12.0345 20.1511 10.6563 19.8603C9.27798 19.5695 8.03152 18.8387 7.10469 17.778C6.17786 16.7172 5.62086 15.384 5.51761 13.9791C5.51156 13.8512 5.45689 13.7303 5.36477 13.6413C5.27265 13.5522 5.15001 13.5017 5.02191 13.5H4.02081C3.95297 13.4996 3.88574 13.5129 3.8232 13.5392C3.76065 13.5655 3.70408 13.6042 3.6569 13.6529C3.60972 13.7017 3.57291 13.7595 3.54869 13.8228C3.52448 13.8862 3.51336 13.9538 3.51601 14.0216C3.61349 15.5965 4.1473 17.1132 5.0577 18.4019C5.9681 19.6906 7.21917 20.7006 8.6709 21.3188C10.1226 21.937 11.7178 22.139 13.2778 21.9022C14.8378 21.6654 16.3011 20.9992 17.504 19.978C18.7069 18.9569 19.6019 17.6212 20.0889 16.1203C20.5759 14.6195 20.6356 13.0128 20.2614 11.4799C19.8872 9.94705 19.0938 8.54858 17.97 7.44098C16.8462 6.33339 15.4363 5.56037 13.8982 5.20844V5.20844Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
}

.embed-nav ul a:active, .action-button:active {
    -webkit-transform: translateY(0px)!important;
    transform: translateY(0px)!important;
}